<%= render "shared/header" %>

<div class="container">
  <div class="row col-lg-6 mx-auto">
    <h2 class="mt-5 text-center form-title">インシデント投稿</h2>
    <%= form_with model: @incident, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class="my-3">
        <%= f.label :画像 %><br/>
        <%= f.file_field :image, class:"form-control mt-1" %>
      </div>

      <div class="my-3">
        <%= f.label :日時 %><span class="text-white bg-danger indispensable">必須</span><br/>
        <%= f.text_field :date, autofocus: true, class:"form-control mt-1" %>
      </div>

      <div class="my-3">
        <%= f.label :タイトル %><span class="text-white bg-danger indispensable">必須</span><br/>
        <%= f.text_field :title, class:"form-control mt-1" %>
      </div>

      <div class="my-3">
        <%= f.label :内容 %><span class="text-white bg-danger indispensable">必須</span><br/>
        <%= f.text_area :content, class:"form-control mt-1" %>
      </div>

      <div class="my-3">
        <%= f.label :場所 %><span class="text-white bg-danger indispensable">必須</span><br/>
        <%= f.collection_select(:place_id, Place.all, :id, :name, {}, class:"form-select mt-1") %>
      </div>

      <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">投稿する</button>
    <% end %>
  </div>
</div>