<%# ヘッダーの呼び出し %>
<%= render "shared/header" %>
<%# /ヘッダーの呼び出し %>


<%# インシデント詳細表示 %>
<div class="container">
  <div class="card bg-light my-4" >
    <div class="row" >
      <div class="col">

        <%# インシデント情報 %>
        <div class="card-body">
          <small class="text-danger">Incident</small>
          <% if @incident.image.attached? %>
            <%= image_tag @incident.image, class:"d-block mx-auto mt-2 image-show" %>
          <% else %>
            <%= image_tag "no_image.jpeg" , class:"d-block mx-auto mt-2 image-show" %>
          <% end %>
        </div>
        <div class="card-body mx-2">
          <div class="card-text">
            <small class="text-secondary">日付</small><br>
            <%= @incident.date %>
          </div>
          <div class="card-text">
            <small class="text-secondary">タイトル</small><br>
            <%= @incident.title %>
          </div>
          <div class="card-text">
            <small class="text-secondary">内容</small><br>
            <%= @incident.content %>
          </div>
          <div class="card-text">
            <small class="text-secondary">場所</small><br>
            <%= @incident.place.name %>
          </div>
          <div class="card-text">
            <small class="text-secondary">投稿者</small><br>
            <%= @incident.user.name %>
          </div>
        </div>
      </div>
      <%# /インシデント情報 %>

      <%# レスポンス情報 %>
      <% if @incident.response.nil? %>
        <%# レスポンス未投稿の場合 %>
        <div class="col">
          <div class="card-body">
            <small class="text-secondary">Response</small>
            <%= image_tag "unsolved.png" , class:"d-block mx-auto mt-2 image-show" %>
          </div>
          <div class="card-body mx-2">
            <div class="card-text">
              <h3>未対応のインシデントです</h3>
              <div>対応後レスポンスを投稿してください</div>
            </div>
          </div>
        </div>
        <%# /レスポンス未投稿の場合 %>
      <% else %>
        <%# レスポンス投稿済みの場合 %>
        <div class="col">
          <div class="card-body">
            <small class="text-primary">Response</small>
            <% if @incident.response.image.attached? %>
              <%= image_tag @incident.response.image, class:"d-block mx-auto mt-2 image-show" %>
            <% else %>
              <%= image_tag "no_image.jpeg" , class:"d-block mx-auto mt-2 image-show" %>
            <% end %>
          </div>
          <div class="card-body mx-2">
            <div class="card-text">
              <small class="text-secondary">日付</small><br>
              <%= @incident.response.date %>
            </div>
            <div class="card-text">
              <small class="text-secondary">タイトル</small><br>
              <%= @incident.response.title %>
            </div>
            <div class="card-text">
              <small class="text-secondary">内容</small><br>
              <%= @incident.response.content %>
            </div>
            <div class="card-text">
              <small class="text-secondary">費用</small><br>
              <%= @incident.response.cost %>
            </div>
            <div class="card-text">
              <small class="text-secondary">投稿者</small><br>
              <%= @incident.response.user.name %>
            </div>
          </div>
        </div>
        <%# /レスポンス投稿済みの場合 %>
      <% end %>
      <%# /レスポンス情報 %>

    </div>

    <%# 各種ボタン %>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-md my-1">
          <div class="d-grid gap-2">
            <% if current_user.id == @incident.user_id %>
              <%= link_to 'インシデントを編集する', edit_incident_path(@incident), class:"btn btn-primary mx-4", type:"button" %>
              <%= link_to 'インシデントを削除する', incident_path(@incident), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-secondary mx-4", type:"button" %>
            <% end %>
          </div>
        </div>
        <div class="col-md my-1">
          <% if @incident.response.nil? %>
            <div class="d-grid gap-2">
              <%= link_to 'レスポンスを投稿する', new_incident_response_path(@incident, @response), class:"btn btn-primary mx-4", type:"button" %>
            </div>
          <% else %>
            <div class="d-grid gap-2">
              <% if current_user.id == @incident.response.user_id %>
                <%= link_to 'レスポンスを編集する', edit_incident_response_path(@incident, @incident.response), class:"btn btn-primary mx-4", type:"button" %>
                <%= link_to 'レスポンスを削除する', incident_response_path(@incident, @incident.response), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-secondary mx-4", type:"button" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# /各種ボタン %>

    <%# コメント情報 %>
    <div class="row">
      <div class="col">
        <div class="card-body mx-2">
          <div class="card-text">
            <% if user_signed_in? %>
              <%= form_with model: [@incident, @comment], local: true do |f| %>
                <small class="text-secondary">コメント</small><br>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <%= f.text_field :content, class:"form-control mt-1" %>
                  <%= f.submit 'コメントを投稿する', class:"btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
            <ul class="mt-3">
              <% @comments.each do |comment| %>
                <li class="my-1">
                  <%= comment.content %>
                  <small class="text-secondary">
                    <%= comment.user.name %>
                    <%= '(' + comment.created_at.to_s(:datetime_jp) + ')' %>
                  </small>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%# /コメント情報 %>

    <%# 戻るボタン %>
    <div class="row">
      <div class="col">
        <div class="card-body mx-2 mb-5">
          <div class="card-text d-grid gap-2 d-md-flex justify-content-md-center">
            <%= link_to '一覧画面に戻る', root_path, class:"btn btn-outline-secondary" %>
          </div>
        </div>
      </div>
    </div>
    <%# /戻るボタン %>

  </div>
</div>
<%# /インシデント詳細表示 %>