<%= render "shared/header" %>

<div class="container">
  <div class="card bg-light my-4" >
    <div class="row " >
      <div class="col">

        <%# インシデント情報 %>
        <div class="card-body">
          <span>Incident</span>
          <% if @incident.image.attached? %>
            <%= image_tag @incident.image, class:"d-block mx-auto image-show" %>
          <% else %>
            <%= image_tag "no_image.jpeg" , class:"d-block mx-auto image-show" %>
          <% end %>
        </div>
        <div class="card-body mx-2">
          <div class="card-text">
            <small class="text-secondary">日付</small><br>
            <%= @incident.date %>
          </div>
          <div class="card-text">
            <small class="text-secondary">タイトル</small><br>
            <%= @incident.title %>
          </div>
          <div class="card-text">
            <small class="text-secondary">内容</small><br>
            <%= @incident.content %>
          </div>
          <div class="card-text">
            <small class="text-secondary">場所</small><br>
            <%= @incident.place.name %>
          </div>
          <div class="card-text">
            <small class="text-secondary">投稿者</small><br>
            <%= @incident.user.name %>
          </div>
        </div>
      </div>
      <%# /インシデント情報 %>

      <%# レスポンス情報 %>
      <% if @incident.response.nil? %>
        <%# レスポンス未投稿の場合 %>
        <div class="col">
          <div class="card-body">
            <span>Response</span>
            <%= image_tag "unsolved.png" , class:"d-block mx-auto image-show" %>
          </div>
          <div class="card-body mx-2">
            <div class="card-text">
              <h4>未解決のインシデントです</h4>
              <span>解決後レスポンスを投稿してください</span>
            </div>
          </div>
        </div>
        <%# /レスポンス未投稿の場合 %>
      <% else %>
        <%# レスポンス投稿済みの場合 %>
        <div class="col">
          <div class="card-body">
            <span>Response</span>
            <% if @incident.response.image.attached? %>
              <%= image_tag @incident.response.image, class:"d-block mx-auto image-show" %>
            <% else %>
              <%= image_tag "no_image.jpeg" , class:"d-block mx-auto image-show" %>
            <% end %>
          </div>
          <div class="card-body mx-2">
            <div class="card-text">
              <small class="text-secondary">日付</small><br>
              <%= @incident.response.date %>
            </div>
            <div class="card-text">
              <small class="text-secondary">タイトル</small><br>
              <%= @incident.response.title %>
            </div>
            <div class="card-text">
              <small class="text-secondary">内容</small><br>
              <%= @incident.response.content %>
            </div>
            <div class="card-text">
              <small class="text-secondary">費用</small><br>
              <%= @incident.response.cost %>
            </div>
            <div class="card-text">
              <small class="text-secondary">投稿者</small><br>
              <%= @incident.response.user.name %>
            </div>
          </div>
        </div>
        <%# /レスポンス投稿済みの場合 %>
      <% end %>
      <%# /レスポンス情報 %>

    </div>

    <%# 各ボタン %>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col">
          <div class="d-flex my-2">
            <% if current_user.id == @incident.user_id %>
              <%= link_to 'インシデントを編集する', edit_incident_path(@incident), class:"btn btn-primary flex-fill mx-2", type:"button" %>
              <%= link_to 'インシデントを削除する', incident_path(@incident), method: :delete, class:"btn btn-primary flex-fill mx-2", type:"button" %>
            <% end %>
          </div>
        </div>
        <div class="col">
          <% if @incident.response.nil? %>
            <div class="d-grid my-2">
              <%= link_to 'レスポンスを投稿する', new_incident_response_path(@incident, @response), class:"btn btn-primary mx-2", type:"button" %>
            </div>
          <% else %>
            <div class="d-flex my-2">
              <% if current_user.id == @incident.response.user_id %>
                <%= link_to 'レスポンスを編集する', edit_incident_response_path(@incident, @incident.response), class:"btn btn-primary flex-fill mx-2", type:"button" %>
                <%= link_to 'レスポンスを削除する', incident_response_path(@incident, @incident.response), method: :delete, class:"btn btn-primary flex-fill mx-2", type:"button" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%# /各ボタン %>

    <%# コメント情報 %>
    <div class="row">
      <div class="col">
        <div class="card-body mx-2">
          <div class="card-text">

            <% if user_signed_in? %>
              <%= form_with model: [@incident, @comment], local: true do |f| %>
                <div>
                  <small class="text-secondary">コメント</small><br>
                  <%= f.text_field :content, class:"form-control mt-1" %>
                </div>
                <div class="d-grid gap-2 my-2 d-md-flex">
                  <%= f.submit 'コメントを投稿する', class:"btn btn-primary", type:"button" %>
                </div>
              <% end %>
            <% end %>
            <ul>
              <% @comments.each do |comment| %>
                <li>
                  <%= comment.content %>
                  <%= comment.user.name %>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
    </div>
    <%# /コメント情報 %>

  </div>
</div>