<%# ヘッダーの呼び出し %>
<%= render "shared/header" %>
<%# /ヘッダーの呼び出し %>


<div class="container">
  <div class="row col-lg-6 mx-auto">
    <h1 class="mt-5 text-center form-title">レスポンス編集</h1>
    <%= form_with model: [@incident, @response], id: 'post_edit', local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

      <div class="my-3">
        <%= f.label :日付 %><span class="bg-danger indispensable">必須</span><br/>
        <%= f.text_field :date, autofocus: true, class:"form-control mt-1", placeholder:"例）2023.01.02" %>
      </div>

      <div class="my-3">
        <%= f.label :タイトル %><span class="bg-danger indispensable">必須</span><br/>
        <%= f.text_field :title, class:"form-control mt-1", placeholder:"例）パッキンを交換しました" %>
      </div>

      <div class="my-3">
        <%= f.label :内容 %><span class="bg-danger indispensable">必須</span><br/>
        <%= f.text_area :content, class:"form-control mt-1", placeholder:"例）水漏れの原因はパッキンの劣化だったので、新しいものを購入して取り替えました。使用した工具はモンキーレンチのみです。" %>
      </div>

      <div class="my-3">
        <%= f.label :費用 %><span class="bg-danger indispensable">必須</span><br/>
        <%= f.text_field :cost, class:"form-control mt-1", placeholder:"例）300円" %>
      </div>

      <div class="my-3">
        <%= f.label :画像 %><br/>
        <%= f.file_field :image, class:"form-control mt-1 mb-3" %>
        <div id="previews" class="text-center"></div>
      </div>

      <button class="w-100 btn btn-lg btn-primary mt-4" type="submit">変更する</button>
    <% end %>

    <div class="row col-lg-6 mx-auto">
      <div class="card-body my-5">
        <div class="card-text d-grid gap-2 d-md-flex justify-content-md-center">
          <%= link_to '詳細画面に戻る', incident_path(@incident), class:"btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>